{% extends 'base.html.twig' %}

{% block title %}New Acces{% endblock %}

{% block body %}
    <h1>Create new Acces</h1>

    {{ include('acces/_form.html.twig') }}

    <a href="{{ path('app_acces_index') }}">back to list</a>
{% endblock %}
